@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
    --primary: #e84857;
    --secondary: #f1f7ed;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    /* transition: all 0.5s linear; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}


/* ================================================== */


/*---------------------------------------------------Header---------------------------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--secondary);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}

header .navbar a {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: #666;
    text-decoration: none;
}

header .navbar a.active,
header .navbar a:hover {
    color: var(--secondary);
    background: var(--primary);
}

header .icons .auth {
    font-size: 1.7rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    color: #666;
    text-decoration: none;
}

header .icons .auth:hover {
    color: var(--secondary);
    background: var(--primary);
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin-left: 0.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--light-color);
    border-radius: 50%;
    text-decoration: none;
}

header .icons i:hover,
header .icons a:hover {
    color: #f1f7ed;
    background: #e84857;
    transform: rotate(360deg);
}

header .icons #menu-bars {
    display: none;
}


/*--------------------------------------Home section--------------------------------------------------------------------------*/


/*--------------------------------------About Us--------------------------------------------------------------------------*/

.about {
    background-color: beige;
}

.me {
    background-image: url("/img/logo.png");
    background-repeat: no-repeat;
    background-color: beige;
    background-position: center;
    opacity: 0.6;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 5em;
    opacity: 1;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    opacity: 1;
}

.introduction-section>p,
.location-section>p,
.questions-section,
.content-footer>p {
    /* Typography Declarations */
    font-size: 103%;
    letter-spacing: 0.05em;
    font-weight: bolder;
    color: #000000;
    background-color: #ffffff;
    opacity: 0.5;
}

.questions-section>h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2.5em;
    font-weight: bolder;
    /* Layout */
    margin: 2em 0 1em 0;
    opacity: 1;
    color: Black;
}

section>h1 {
    margin-top: 0.6em;
    color: #ff2348;
    opacity: 1;
    font-weight: bold;
}

.content-footer {
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
    background-color: #60a6de;
    text-decoration: none;
    opacity: 1;
}

.social>li {
    display: inline-block;
    margin: 0 5px;
    opacity: 1;
    font-weight: bold;
}

.content-footer>p3 {
    color: #F7EDE1;
    opacity: 1;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #F1C863;
    opacity: 1;
}

@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
        font-size: 10em;
        opacity: 1;
    }
    .masthead-heading {
        font-size: 5em;
        opacity: 1;
    }
    .content-footer {
        padding: 2em 2.5em;
        font-size: 2em;
        opacity: 1;
    }
    section>h1 {
        font-size: 2.5em;
    }
}


/*---------------------------------------------------Booking Page css---------------------------------------------------------------------------------*/

/*body {*/
/*    background-image: linear-gradient(to right, #c5a8d2, #f86374)*/
/*}*/

.section {
    position: relative;
    height: 100vh
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

#booking {
    font-family: 'Raleway', sans-serif
}

.booking-form {
    position: relative;
    max-width: 642px;
    width: 100%;
    margin: auto;
    padding: 40px;
    overflow: hidden;
    background-image: url("/img/logo.png");
    background-size: cover;
    border-radius: 5px;
    z-index: 20
}

.booking-form::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(105, 49, 49, 0.7);
    z-index: -1
}

.booking-form .form-header {
    text-align: center;
    position: relative;
    margin-bottom: 30px
}

.booking-form .form-header h1 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 42px;
    margin: 0px;
    color: #fff
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px
}

.booking-form .form-control {
    background-color: rgba(255, 255, 255, 0.2);
    height: 60px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.custom-select {
    background-color: rgba(255, 255, 255, 0.2);
    height: 60px;
    padding: 0px 25px;
    border: none;
    border-radius: 40px;
    color: black;
    -webkit-box-shadow: 0px 0px 0px 2px transparent;
    box-shadow: 0px 0px 0px 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s
}

.booking-form .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form .form-control:focus {
    -webkit-box-shadow: 0px 0px 0px 2px #ff8846;
    box-shadow: 0px 0px 0px 2px #ff8846
}

.booking-form input[type="date"].form-control {
    padding-top: 16px
}

.booking-form input[type="date"].form-control:invalid {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form input[type="date"].form-control+.form-label {
    opacity: 1;
    top: 10px
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.booking-form select.form-control:invalid {
    color: rgba(255, 255, 255, 0.5)
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px
}

.booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.booking-form select.form-control option {
    color: #000
}

.booking-form .form-label {
    position: absolute;
    top: -10px;
    left: 25px;
    opacity: 0;
    color: #ff8846;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    height: 15px;
    line-height: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}

.test {
    position: relative;
    top: -1px;
    left: 10px;
    opacity: 01;
    color: #ff8846;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    height: 15px;
    line-height: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}

.booking-form .form-group.input-not-empty .form-control {
    padding-top: 16px
}

.booking-form .form-group.input-not-empty .form-label {
    opacity: 0.5;
    top: 10px
}

.booking-form .submit-btn {
    color: #fff;
    background-color: #e35e0a;
    font-weight: 700;
    height: 60px;
    padding: 10px 30px;
    width: 100%;
    border-radius: 40px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
    opacity: 0.9
}


/* Search form */


/* Search form */


/* ================================================== */


/* ================================================== */


/* media queries */


/* @media (max-width: 1200px) {
    html {
        font-size: 60%;
    }
    header {
        padding: 1rem 3rem;
    }
} */

@media all and (max-width: 991.98px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 1rem 2rem;
    }
}

@media all and (max-width: 767.98px) {
    header .icons #menu-bars {
        display: inline-block;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        background: #ffff;
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #f1f7ed;
    }
}


/* media queries */
